@charset "utf-8";
/* CSS Document */
.ana_govde {
	width:700px;
	height:500px;
	border-radius:15PX;
	margin:auto;	
	}
.cubuk {
	width:700px;
	height:20px;
	margin:10px auto;
	border-radius:15PX;
	}
	
.buton {
	width:60px;
	height:60px;
	border-radius:15PX;
	margin:auto;
}

body { 
    background: url(../backg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.buton {
position: absolute;
    top: 50%;
    left: 50%
}